services:
  patient-profile-db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: patient-profile-db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - patient-network

volumes:
  pgdata:
    driver: local
networks:
  patient-network:
    driver: bridge